<div class="contenta">
 <%= image_tag @helper.worker.avatar(:medium) %>

   <div class="mojia">氏名:   <%= @helper.worker.name %></div>
   <div class="mojia">年齢:   <%= @helper.worker.nennrei %>歳</div>
   <div class="mojia">性別:   <%= @helper.worker.gender %></div>
   <div class="mojia">開始日時:   <%= @helper.start %></div>
   <div class="mojia">終了時刻:   <%= @helper.finish %></div>
   <div class="mojian">コメント欄:     <%= @helper.text %></div>


  <div class="form">
   <div class="fm"><%= form_for([@helper, @user]) do |u| %></div>
   <div class="fm">開始日時:   <%= u.datetime_select :start %></div>
   <div class="fm">終了時刻:   <%= u.time_select :finish %></div>
   <div class="fm">コメント欄:   <%= u.text_field :text %></div>
   <div class="fm"><%= u.fields_for (@helper) do |f| %></div>
    <div class="fm">予約する:   <%= f.check_box :personal_id %></div>

   <% end %>
  <div class="fm"><%= u.submit "送信" %></div>
  <% end %>
 </div>
</div>