<%= render 'index' %>



<% @worker.each do |helper| %>
    <p><%= image_tag helper.worker.avatar(:medium) %></p>
    <h1><%= helper.worker.name %></h1>
	<p><%= helper.start %></p>
	<p><%= helper.finish %></p>
	<p><%= helper.text %></p><br><br><br>
<% end %>