<%= render 'new' %>

<div class="contentf">

 <div class="form">
   <div class="fm"><%= form_for(@helper) do |h| %></div>
   <div class="fm">開始日時:   <%= h.datetime_select :start %></div>
   <div class="fm">終了時刻:   <%= h.time_select :finish %></div>
   <div class="fm"><%= h.text_field :text %></div>
   <div class="fm"><%= h.submit "送信" %></div>
 <% end %>
