<%= render 'index' %>

<div class="content">
		<%= image_tag @helper.worker.avatar(:medium) %>
		<h1>氏名:   <%= @helper.worker.name %></h1>
		<div class="moji">年齢:   <%= current_worker.nennrei %>歳</div>
		<div class="moji">性別:   <%= current_worker.gender %></div>
		<div class="moji">自己紹介:   <%= current_worker.introduce %></div>
		<div class="moji">開始日時:   <%= @helper.start %></div>
		<div class="moji">終了時刻:   <%= @helper.finish %></div>
		<div class="moji">コメント欄:   <%= @helper.text %></div>
</div>

<% @request.each do |request| %>
<%= request.text %>
<% end %>
